code {
  padding: 0 5px;
  color: pink;
}

.commit {
  border-radius: 50%;
  margin: 5px;
  color: steel;
}
.green-border {
  border: 4px solid darkslategray;
}
.violet-border {
  border: 4px solid mediumpurple;
}
.gold-border {
  border: 4px solid gold;
}
.red {
  color: red;
}
.gold {
  color: gold;
}
.w-full {
  background-size: contain !important;
}

:not(pre) > code::before, :not(pre) > code::after {
  content: none;
}

h1,h2,h3,h4 {
  margin-bottom: 16px;
}
